.FirstName_1 {
    color: green;
    font-size: 45px;
}

.name_blog {
    margin-top: 10px;
    margin-left: 120px;
}

body {
    background-color: black;
}

.h3_kogemus_1 {
    color: white;
}

.section_2 {
    display: flex;
}

.blog_1 , .blog_2 , .blog_3 {
    width: 450px;
    height: 250px;
    background-color: rgb(5, 5, 136);
    border-radius: 8px;
    margin-top: 20px;
    margin-left: 120px;
}

.blog_2 {
    margin-left: 15px;
}

.blog_3 {
    margin-left: 15px;
}

